/* notes. Ems are being used for adjustable text size and for widths to create an elastic layout */


/** universal stuff **/

body {
	margin: 0;
	font-family: helvetica, sans-serif;
	font-size: 100%;
	color: #393939;
}

ul {
	list-style-type: none;
}

.infolinks {
	line-height: 1.325em;
	padding-left: 0;
}

p {
	font-family: Georgia, serif;
	font-size: 1.3125em; /* 21px */
	line-height: 1.625em; /* 26px */
	margin: 0 0 16px 0;
	font-weight: 400;
}

li {
	font-family: Georgia, serif;
	font-size: 1.25em; /* 20px */
}

pre {
	font-family: helvetica, sans-serif;
	color: #393939;
	margin-top: 0;
}

h1 {
	font-weight: normal;
	font-size: 2.75em; /* 44px */
	margin-top: 64px;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.25em; /* 20px */
}

h2 {
	font-weight: normal;
	font-size: 1.75em; /* 24px */
	margin-top: 40px;
	margin-bottom: 8px;
}

h4 {
	font-size: .875em; /* 14px */
	font-weight: normal;
	line-height: 1.5em; /* 24px */
	color: #999;
	margin-top: 0;
	margin-bottom: 32px; 
	text-align: center;
}

h5 {
	font-size: .875em; /* 14px */
	font-weight: normal;
	color: #999;
	margin-top: 4px;
	margin-bottom: 24px;
	text-align: left;
}

strong {
	font-weight: bold;
}

a:link, a:visited {
	color: #7baeba; 
	text-decoration:none;
}
a[href]:hover {
	color: #497ca7;
	text-decoration: none;
}

a img {
	outline: none;
}

video {
	margin: 16px 0 0 0;
}

.centeralign {
	text-align: center;
}

/** header **/
.name {
	font-weight: 100;
	font-size: 1.25em; /* 20px */
	max-width: 14em;
	float: left;
	color: #524A48;
	margin-top: 0;
}
.name strong{
 	font-size: .875em; /* 14px */
 	padding-right: 4px;
 }

.navlinks {
	font-weight: 100;
	text-align: right;
	margin-top: 0;
}

.navlinks li {
	float: right;
}

.centerheader a:link {
	color: #393939;
	text-decoration:none;
}

.centerheader a[href]:hover {
	color: #666;
	text-decoration: none;
}

.centerheader a:visited {
	color: #393939; 
	text-decoration:none;
}

.centerheader {
	max-width: 33em; /* 528px */
	margin: 40px auto 56px auto;
}

.centering {
	margin: 0 4%;
}

#logoline {
	margin: 0 0 0 0;
	border: none;
	width: 100%;
}

/** main column **/

.col1 {
	width: 79%; 
	float: left;
	padding: 0;
}

.col1 img {
	margin-right: 2%;
	margin-bottom: 2%;
	border-style: solid;
	border-width: thin;
	border-color: #e6e6e6;
	width: 47%;
}

#border {
	border-style: solid;
	border-width: thin;
	border-color: #dedede;
}

/** sidecolumn **/
.col2 {
	width: 21%;
	height: 600px;
	float: left;
	padding-left: 0;
	padding-top: 130px;
}

.sidenavtext {
	font-weight: 100;
	text-align: left;
}

.sidenavtext ul {
	padding: 0;
}

.sidenavtext li {
	font-family: helvetica, sans-serif;
	padding-top: 8px;
}

.sidenavtext a:link {
	color: #393939;
	text-decoration:none;
}

.sidenavtext a[href]:hover {
	color: #666;
	text-decoration: none;
}

.sidenavtext a:visited {
	color: #393939; 
	text-decoration:none;
}

.tabLinks {
	text-align: center;
	margin: 40px 0;
	font-size: .825em; /* 13.2px */
	font-weight: 100;
} 

/** one column pages **/
.col3 {
	width: 75%;
	margin:0 12.5%;
}

.col3 img {
	width: 100%;
	height: auto;
}

.col3 video {
	width: 100%;
	border: solid 1px lightgrey;
}

.imgborder {
	border-style: solid;
	border-width: thin;
	border-color: #e6e6e6;
}

.collage {
	margin-top: 40px;
}

.seemore {
	clear: left;
	padding: 200px 0 0 0;
}

.seemore h2 {
	margin: 30px 0 20px;
}

.seemore a img {
	float: left;
	margin-bottom: 18px;
	border-style: solid;
	border-width: thin;
	border-color: #e6e6e6;
	width: 48%;
}

.seemore .seemore-1st img {
	margin-right: 3.2%;
}

.seemore-link {
	font-weight: 100;
	font-size: 1em; /* 16px */
	text-align: center;
	padding-top: 5px;
	clear: left;
}

.seemore-link a:link {
	color: #393939;
	text-decoration: none;
}

.seemore-link a[href]:hover {
	color: #666;
	text-decoration: none;
}

.seemore-link a:visited {
	color: #393939; 
	text-decoration: none;
}

#mobilepics {
	width: 17.1875em; /* 275px */
	float: left;
}

#mobilepics h5, #mobilepics2 h5 {
	text-align: center;
}

#mobilepics2 {
	width: 17.1875em; /* 275px */
	display: block;
	margin: 0 auto;
}

/** footer **/
#onecolfooter {
	clear: left;
	padding: 48px 0;
}

#twocolfooter {
	clear: left;
	padding: 48px 0;
}

p.footertext {
	font-family: helvetica, sans-serif;
	font-size: .75em; /* 12px */
	text-align: center;
	font-weight: 100;
	color: #666;
	padding: 16px 0;
}

.footertext a:link {
	color: #666;
	text-decoration:none;
}

.footertext a[href]:hover {
	color: #497ca7;
	text-decoration: none;
}

.footertext a:visited {
	color: #666; 
	text-decoration:none;
}

.footerline {
	clear: left;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #eee;
}

.pb {
	padding-bottom: 16px;
}

/* specific styles for specific things */

.purchase-poster {
	font-size: 1em; /* 16px */
	line-height: 1.5em; /* 24px */
	text-align: center;
	margin: 8px 0 48px;
}

/** Breakpoints **/
@media only screen and (min-width: 1220px) {

	.centering {
		margin: 0 5%;
	}

	.centerheader {
		padding-right: 3%;
	}

	.col1 {
		float: left;
		padding: 0;
		margin-left: 14%;
		width: 72%;
	}

	.col1 img {
		margin: 0 2% 2% 0;
		width: 30.5%;
	}

	.col2 {
		width: 14%;
	}

	.col3 {
		width: 1000px;
		margin: 0 auto;
	}

	.seemore .seemore-1st img {
		margin-right: 3.6%;
	}
}

@media only screen and (max-width: 755px) {

	.col1 {
		max-width: 38.8125em; /* 621px */
		float: none;
		padding-left: 8px;
		margin: 0 auto;
	}

	#thumb {
		width: 48%;
		height: auto;;
	}

	.logoline {
		margin-top: 12px;
		width: 100%;
	}

	.col2 {
		width: auto;
		height: auto;
		padding: 8px 0 16px 0;
		margin: 0 auto;
		float: none;
		clear: left;
	}

	.sidenavtext {
		font-weight: 100;
		font-size: .825em; /* 14px */
		text-align: center; 
		line-height: 2em; /* 32px */
	}

	.sidenavtext ul {
		padding: 0;
	}

	.sidenavtext li {
		padding-top: 8px;
	}

	#sectionfooter {
		clear: left;
		padding: 0 0 36px 0;	
	}

	#twocolfooter {
		clear: left;
		padding: 16px 0 36px 0;
		width: 38.75em; /* 620px */
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 620px) {
	
	p {
		font-size: 1em; /* 16px */
		line-height: 1.5em; /* 24px */
		margin: 0 0 8px 0;
	}

	li {
		font-size: 1em; /* 16px */
	}

	h1 {
		font-size: 1.75em; /* 28px */
		margin-top: 0;
	}

	h2 {
		font-size: 1.3125em; /* 21px */
	}

	h4 {
		font-size: .8125em; /* 13px */
		margin-bottom: 16px;
	}

	h5 {
		font-size: .8125em; /* 13px */
	}

	.centerheader {
		margin: 32px auto 40px;
	}

	.name {
		font-size: 1em; /* 16px */
	}

	.col1 {
		padding-left: 0;
		max-width: 25em; /* 400px */
		margin: 0 auto;
	}

	.col1 img {
		width: 100%;
		height: auto;
	}

	.col3 {
		padding-left: 0;
		max-width: 25em; /* 400px */
		margin: 0 auto;
	}

	/** header **/
	.name {
		padding-left: 12px;
	}

	.navlinks {
		padding-right: 12px;
	}

	#twocolfooter {
		max-width: 25em; /* 400px */
	}

	#mobilepics {
		display: block;
		margin: 0 auto;
		float: none;
	}
}

@media only screen and (max-width: 550px) {

	.col1 {
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}

	.col3 {
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}

	/** header **/
	.name {
		padding-left: 0;
	}

	.navlinks {
		padding-right: 0;
	}
	#logoline {
		width: 100%;
	}
	#twocolfooter {
		width: 90%;
	}
}

