/** universal stuff **/

body {
	margin: 0;
	font-family: helvetica, sans-serif;
	color: #393939;
}

ul {
	list-style-type: none;
}

p {
	font-family: Georgia, serif;
	font-size: 1em;
	line-height: 1.625em;
	margin: 1em, 0, 0, 0;
	font-weight: 400;
}

li {
	font-family: Georgia, serif;
	font-size: 1em;
}

pre {
	font-family: helvetica, sans-serif;
	color: #393939;
	margin-top: 0;
}

h1 {
	font-weight: normal;
	font-size: 1.75em;
	margin-top: 1.5em;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.5em;
}

h4 {
	font-size: .75em;
	font-weight: normal;
	color: #999;
	margin-top: 0;
	margin-bottom: 1.5em;
	text-align: center;
}

a:link {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #ccc;
	text-decoration: none;
}

a:visited {
	color: #444;
	text-decoration: none;	
}




/** header **/
.name {
	font-weight: 100;
	max-width: 10.9375em;
	font-size: .875em;
	float: left;
	color: #524A48;
	margin-top: 0;
}
.name strong{
 	font-size: .875em;
 	padding-right: .25em;
 }

.navlinks {
	font-size: .825em;
	font-weight: 100;
	text-align: right;
	margin-top: 0;
}

.navlinks li {
	float: right;
}

.navlinks a:hover {
	color: #222;
	text-decoration: none;
}

.centerheader {
	margin-left: auto;
	margin-right: auto;
	max-width: 25em;
	margin-bottom: 2em;
	margin-top: 1.5em;
	/** background-color: greenyellow; **/
}

.centering {
	margin-left: auto;
	margin-right: auto;
	max-width: 46.875em;
	/** background-color: tomato; **/
}

.logoline {
	margin-top: .75em;
}




/** main column **/

.col1 {
	width: 37.5em;
	/** background-color: paleturquoise; **/
	float: left;
	padding: 0;
}

.col1 img {
	margin-right: .5em;
	margin-bottom: .5em;
}



/** sidecolumn **/

.col2 {
	width: 8.375em;
	height: 37.5em;
	/** background-color: violet; **/
	float: right;
	padding-left: 1em;
	padding-top: 5.625em;
}

.sidenavtext {

	font-weight: 100;
	font-size: .825em;
	text-align: left;
}

.sidenavtext ul {
	padding: 0;
}

.sidenavtext li {
	font-family: helvetica, sans-serif;
	padding-top: .5em;
}

/** one column pages **/

.col3 {
	width: 34.375em;
	margin-left: auto;
	margin-right: auto;
	/** background-color: cadetblue; **/
}

/** footer **/

#onecolfooter {
	clear: left;
	padding: 3em 0em 3em 0;
	/** background-color: ghostwhite; **/
}

#twocolfooter {
	clear: left;
	padding: 3em 9.375em 3em 0;
	/** background-color: lightcyan; **/
}

p.footertext {
	font-family: helvetica, sans-serif;
	font-size: .75em;
	text-align: center;
	font-weight: 100;
	color: #666;
	padding: 1em 0;
}

.footerline {
	clear: left;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #eee;
}

/** Breakpoints **/

@media only screen and (min-width: 1220px) {

.centering {
	margin-left: auto;
	margin-right: auto;
	max-width: 66.25em;
	/** background-color: tomato; **/
}
.col1 {
	width: 56.5em;
	/** background-color: paleturquoise; **/
	float: left;
	padding: 0;
}
}

@media only screen and (max-width: 750px) {

.col1 {
	width: 100%;
	/** background-color: paleturquoise; **/
	float: none;
	padding-left: .5em;
	margin-left: auto;
	margin-right: auto;
}

#thumb {
	width: 48%;
	height: auto;;
}

.logoline {
	margin-top: .75em;
	width: 100%;
}
.col2 {
	width: auto;
	height: auto;
	padding-top: .5em;
	padding-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	/** background-color: violet; **/ 
	float: none;
	clear: left;
}
.sidenavtext {
	font-weight: 100;
	font-size: .825em;
	text-align: center;
	line-height: 2em;
}

.sidenavtext ul {
	padding: 0;
}

.sidenavtext li {
	padding-top: .5em;
}

#sectionfooter {
	clear: left;
	padding: 0 0 3em 0;	
}

#twocolfooter {
	clear: left;
	padding: 3em .5em 3em .5em;
	/** background-color: lightcyan; **/
}
}


@media only screen and (max-width: 550px) {
.col1 {
	padding-left: 0;
	max-width: 25em;
	margin-left: auto;
	margin-right: auto;
}


.col3 {
	padding-left: 0;
	max-width: 25em;
	margin-left: auto;
	margin-right: auto;
	/** background-color: cadetblue; **/
}

#scale {
	width: 100%;
	height: auto;
}
/** header **/
.name {
	padding-left: .75em;
}

.navlinks {
	padding-right: .75em;
}

}

@media only screen and (max-width: 550px) {
.col3 {
	padding-left: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	/** background-color: cadetblue; **/
}

}

